* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background-image: url('images/pattern-background-desktop.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(225, 100%, 94%)
}

.container {
    background-color: white;
    width: 400px;
    margin: 100px auto;
    border-radius: 10px;
}

.container .main-img {
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.content {
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

p {
    color: gray;
    line-height: 1.5;
    padding: 15px 0;
}

.price-card {
    display: flex;
    justify-content: space-between;
    background-color: hsl(225, 100%, 98%);
    padding: 20px;
    border-radius: 15px;
}

.price-card h2 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 3px;
}
.price-card span {
    color:gray;
}

.price-plan {
    margin-left: -70px;
}

a {
    align-self: center;
    color: hsl(245, 75%, 52%)
}

.payment {
    margin: 20px 0;
    padding: 12px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: hsl(245, 75%, 52%);
    box-shadow: 0 6px 15px 3px rgba(0, 0, 0, 0.2);
}

.cancel {
    background: none;
    border: none;
    color: hsl(223, 47%, 23%)
}
